
.ui-dialog {
  background-color: black;
  padding: 10px;
}

.ui-button {
  font-family: "Press Start 2P";
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 12px;
  color: white;
  background: url('atari2600boxartposter.jpg') center center;
  background-size: cover;
}

.slide{
  margin-left: 50%;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  padding: 12px;
  background: rgba(0,0,0,0.8);
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

header {
}

.quizbox {
  width: 50%;
  min-width: 320px;
  max-width: 400px;
  margin: 5vh auto;
  padding: 25px;
  background: rgba(0,0,0,0.8);
}

.billboard {
  text-align: center;
}

.game-over {
  display: none;
}

.boxart {
  display: block;
  width: 50%;
  margin: 20px auto;
}

.quiz-container {
  position: relative;
  width: 93%;
  margin: 0 auto;
  height: 151px;
}
.question {
  margin: 2px 0 16px 0;
}

.answers {
  margin-bottom: 3px;
  display: inline-grid;
}

footer button {
  font-family: "Press Start 2P", sans-serif;
  color: white;
  background-color: black;
  border: none;
  font-size: 12px;
}

.next {
  float: right;
}